<% if @messages[:recieved_messages][0] %>
  <% @messages[:recieved_messages].each do |message| %>
  
 <div class="<%= message.id %>-recieved">
   <button type="button" class="red btn btn-link btn-xs">
     <div class="glyphicon glyphicon-remove recieved" id="<%= message.id %>">
     </div> 
     <a href="#<%= message.id %>"></a> 
   </button>
      
   <button class="btn btn-primary btn-sm" data-toggle="modal" data-target=".recieved-<%= message.id %>">
     <%= User.find(message.sender_id).username %> the <%= User.find(message.sender_id).species %>--<%= message.title %>
   </button>
     
     <!-- button above, modal below -->
     
   <div class="modal recieved-<%= message.id %>" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title" id="myModalLabel"><%= message.title %></h4>
         </div>
      
         <div class="modal-body">
           <%= message.body %>
         </div>
      
         <div class="modal-footer">
        
           <button type="button" class="btn btn-default" data-dismiss="modal">
             Close
           </button>
        
         </div>
       </div>
     </div>
   </div>
 </div>
  <% end %>                                    
<% else %>                                     
  <%= "No mail yet! Get out there, sonny!" %>  
<% end %>                                      
                                               