<h1>WELCOME TO OKZUPID!!!</h1>


<a href="<%= new_session_url %>"id="login">
  <%= image_tag 'OKZ_Login.jpg' %></a>
  
<a href=http://localhost:3000/session/new#tony id="guest" onclick="tonyLogins();">
  <%= image_tag 'OKZ_Guest.jpg' %></a>
  
<a href="<%= new_user_url %>" id="signup">
  <%= image_tag 'OKZ_Signup.jpg' %></a>
  
 