
<a href="<%= new_session_url %>"id="login">
  <%= image_tag 'OKZ_Login.png' %></a>

<a href="http://www.okzupid.com/session/new#tony" id="guest" onclick="tonyLogins();">
  <%= image_tag 'OKZ_Guest.png' %></a>

<a href="<%= new_user_url %>" id="signup">
  <%= image_tag 'OKZ_Signup.png' %></a>



   <header id="header" class="navbar navbar-fixed-bottom bg-primary dk"  data-spy="affix" data-offset-top="1">
     <div class="container">
       <a class="navbar-brand" href="#">OKZupid</a>
       <ul class="nav navbar-nav pull-right">
         <li class="hide">
           <a href="#header">Home</a>
         </li>

           <a class="navbar-brand" href="https://www.augustinewittkower.com/">Augustine Wittkower</a>
           <ul class="nav navbar-nav pull-l">

   </header>
   <section id="content">
     <div id="about">
       <div class="container text-center">
         <p>&nbsp;</p>
         <div class="m-xl">
           <h2 class="font-thin">What is this?</h2>
           <p>OKZupid, a place for talking animals to find eachother.</p>
           <p><i>They are quite rare.</i></p>
         </div>
         <div class="m-xl">
           <p>Animals can sign up, talk about their interests, and connect with others through private messages. Anonymous messages are also available. </p>
           <p></p>
         </div>
         <div class="row m-xl">
           <div class="col-lg-6 col-sm-6 media">
             <span class="icon-stack pull-left icon-3x">
               <i class="icon-circle icon-stack-base text-info"></i>
               <i class="icon-html5 text-white"></i>
             </span>
             <div class="media-body">
               <h3 class="m-t-none">Frontend</h3>
               <p>Desgined using:</p>
               <ul>
               	<p>jQuery</p>
               	<p>HTML5</p>
               </ul>
             </div>
           </div>
           <div class="col-lg-6 col-sm-6 media m-t-none">
             <span class="icon-stack pull-left icon-3x">
               <i class="icon-circle icon-stack-base text-danger"></i>
               <i class="icon-rocket text-white"></i>
             </span>
             <div class="media-body">
               <h3 class="m-t-none">Backend</h3>
               <ul>
               	<p>Rails</p>
               	<p>Restful API</p>
               	<p>Postgres</p>
               </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="bg-light" id="features">
       <div class="container">
         <p>&nbsp;</p>
         <div class="row">
           <div class="col-sm-4 lt wrapper-xl">
             <p class="text-center">
               <span class="icon-stack icon-2x">
                 <i class="icon-circle icon-stack-base text-success"></i>
                 <i class="icon-bold text-white"></i>
               </span>
             </p>
             <div>
               <h3 class="text-center">Bootstrap 3.0</h3>
             </div>
           </div>
           <div class="col-sm-4 lter wrapper-xl">

           </div>
           <div class="col-sm-4 wrapper-xl bg-white">
             <p class="text-center">
               <span class="icon-stack icon-2x">
                 <i class="icon-circle icon-stack-base text-danger"></i>
                 <i class="icon-html5 text-white"></i>
               </span>
             </p>
             <div>
               <h3 class="text-center">HTML5 & CSS3</h3>
             </div>
           </div>
       </div>
     </div>
     <div class="bg-dark clearfix">
       <div class="container text-center m-xl">
         <h2 class="font-thin">Thanks for reading!</h2>
         <p>&nbsp;</p>
         <a href="#content"><i class="icon-arrow-up"></i><br>Top</a>
       </div>
     </div>
   </section>
