
<p><%= prompt %></p>
<form action="<%= post_url %>" method="POST">
  <%= auth_token %>
  <input
  type="hidden"
  name="_method"
  value="PATCH">
  <textarea 
  name="post[content]" 
  value="<%= find_post_by_prompt(prompt) %>"  
  id="post[content]">
</textarea>
<input type="hidden" 
name="post[prompt]" 
value="<%= prompt %>"
id="post[prompt]">
<input type="submit" value="âœ">
</form>
<div id="content4"><%= find_post_by_prompt(
prompt).content %>
</div>
