<!DOCTYPE html>
<html>
<head>
  <title>OKZoo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
 
  <%= render 'layouts/errors' %>
    <div class="okz-header" id="content">
  <div class="container">
      <a href="/" class="logo text-center"><h1>OKZupid</h1></a> 
    </div>
  </div>
  
  <div class="container">
    
    <%= yield %>
  </div>
  

 
</body>
</html>
