<!DOCTYPE html>
<html>
<head>
  <title>OKZoo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
  <%= current_user.username + " the " + current_user.species%>
  <%= link_to "Log Out", session_url, method: :delete%>
  <% end %>
  <br>

  <%= render 'layouts/errors' %>
  
  <%= yield %>

</body>
</html>
